@{
    ViewData["Title"] = "Games Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the games list section!</h1>
</div>
    <div class="list-group">

        <a href="#" class="list-group-item">The Legend of Zelda</a>

        <a href="#" class="list-group-item">Super Mario Bro's</a>

        <a href="#" class="list-group-item">Pokemon</a>
    </div>

