@{
    ViewData["Title"] = "Games Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the games list section!</h1>
</div>
    <ul>
        <li>
            <p>Game 1</p>
        </li>
        <li>
            <p>Game 2</p>
        </li>
        <li>
            <p>Game 3</p>
        </li>
    </ul>

