@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <h1 class="display-4">Info Page Links</h1>

</div>
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Info" asp-action="Links">Links</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Info" asp-action="People">People</a>
    </li>
</ul>