@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Video Game Club Website!</h1>
    <p>This site is dedicated to videogames and the people who play them</p>
    <p>This is the home page!</p>
</div>
