@{
    ViewData["Title"] = "Home Page";
}
@model MessageModel;

<div class="text-center">
    <header class="jumbotron">
        <h1 class="display-4">Welcome to the Video Game Club Website!</h1>
        <p>This site is dedicated to videogames and the people who play them</p>
        <p>This is the home page!</p>
    </header>
   
</div>
